@import url('../../global.module.css');
.mobileNavModal {
    background-color: var( --primary-background-dark-color);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 10000;
    display: grid;

    align-items: center;
    color: var(--text-icon-color);
    gap: 30px;

}

.closebtn {

    align-self: end;
    margin: 2rem;
}