@import url("../../global.module.css");

.carousel-wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    box-sizing: border-box;
    height: min-content;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
}

.carousel-header {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.carousel-subheader {
    display: grid;
    grid-template-rows: repeat(2, auto);
}

.carousel-content {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    column-gap: 50px;
    align-items: center;
}

.carousel-description {
    margin: 0;
}

.carousel-header {
    margin: 0;
}

.carousel-title {
    margin: 0;
}