@import url("../global.module.css");

.container{
    width: 100vw;
    overflow-x: hidden;
}

.carousel-container-1 {
    background-color: var(--background-color-dark);
    background-position: center;
}

.carousel-container-2 {
    background: var(--input-field-secondary-color);
    background-position: center;
}

.cardBoxFirst {
    padding: 160px 160px 0px 160px;
    margin-top: calc(-50vh);
}

.cardBoxRemain {
    padding: 0 160px;
    display: block;
    gap: 60px;
}

.whiteBackground{
    background: var(--text-icon-color);
}

@media(max-width: 1100px) {
    .carousel-container-1 {
        position: relative;
        background: linear-gradient(to bottom, #0A041F 30%, transparent 70%);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        padding: calc((100vw / 393) * 1);
        margin-bottom: 25px;
    }

    .cardBoxFirst{
        padding: 0px;
        margin-top: -10%;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .cardBoxRemain {
        padding: 0px;
        margin: 5px;
    }

    /* .carousel-container-1::before {
        position: absolute;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../public/worldmap.svg');
        background-size: cover;
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        height: 40%;
    } */

    .carousel-container-2 {
        width: 100vw;
        padding: calc((100vw / 393) * 1);
    }
}
