@import url("../../../global.module.css");

.button {
    border: none;
    color: var(--primary-background-dark-color);
    cursor: pointer;
    padding: calc((100vw / 1920)* 10) calc((100vw / 1920)* 23);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: calc((100vw / 1920)* 44);
    font-weight: 400;
    font-size: calc((100vw/1920) * 17);
    font-family: var(--framer-font-family);
    word-wrap: break-word;
    width:fit-content;
}

.button:hover {
    background-color: var(--text-button-background-color-secondary);
}

@media screen and (max-width: 1100px){
    .button {
        font-size: calc((100vw / 393)* 15);
        padding: calc((100vw / 393)* 10) calc((100vw / 393)* 23);
        height: calc((100vw / 393)* 44);
    }
}

