@import '../../../global.module.css';

.navItemContainer {
    display: flex;
    justify-content: space-between;
    flex-grow: 3;
}

.navItem {
    color: var(--text-icon-color);
    word-break: break-word;
}
